USE [master]
GO
/****** Object:  Database [ThreeLevelDB]    Script Date: 09/03/2014 22:26:43 ******/
CREATE DATABASE [ThreeLevelDB] ON  PRIMARY 
( NAME = N'ThreeLevelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\ThreeLevelDB.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThreeLevelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\ThreeLevelDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThreeLevelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThreeLevelDB]
GO
/****** Object:  Table [dbo].[Rgb]    Script Date: 09/03/2014 22:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rgb](
	[userid] [varchar](50) NULL,
	[pattern] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoginTbl]    Script Date: 09/03/2014 22:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoginTbl](
	[userid] [varchar](50) NULL,
	[pass] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Img]    Script Date: 09/03/2014 22:26:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Img](
	[userid] [varchar](50) NULL,
	[pattern] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO